.banner {
    height: 448px;
    padding-bottom: 0;
}

.banner_content {
    padding-top: 140px;
    height: 330px;
}

.banner_title {
    font-weight: 700;
}

.banner_description {
    width: 45rem;
    max-width: 360px;
    height: 80px;
    font-size: 0.8rem
}

.banner_button {
    cursor: pointer;
    outline: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    color: #000 !important;
    background-color: #e6e6e6;
    transition: all 0.5s;
}

.banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}