.nav {
    padding: 0 4rem;
    padding-top: 0.6rem;
    height: 4.2rem;
    z-index: 1;
    top: 0;
}

.left {
    gap: 2rem;
}

.right {
    gap: 1rem;
}

.search_icon {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.search_icon:focus {
    outline: none;
}

.search {
    gap: 0.4rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
}

.links {
    list-style-type: none;
    gap: 2rem;
}

.brand>img {
    height: 4rem;
}

.input_hide {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

.input_hide:focus {
    outline: none;
}

.show_search {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6) !important
}

.input_show {
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 0.3rem;
    outline: none;
}

.nav_avatar {
    width: 30px;
    height: 30px;
    right: 20px;
    cursor: pointer;
}